.titleRow > div > .col-md-4{
    display:inline-block;
    width:33%;
}
.nextMonth, .prevMonth, .planTimeBtn{
    text-align:center;
    margin:auto;
    border-radius:5px;
    width:40%;
    height:2.2vw;
    line-height:2vw;
    cursor:pointer;
    margin-top:1vw;
}
.selectedTime{
    background-color: green;
}
.occupiedTime{
    background-color: red;
}
.availableTime{
    background-color:white;
}
.agenda{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width:80%;
    border:2px solid black;
    margin-top:2vw;
}
.monthTitle{
    width: 45%;
    text-align: center;
    margin: auto;
}

.days{
    display:inline-block;
    width:12.5%;
    height:0;
    padding-bottom:12.5%;
    border:2px solid black;
    overflow: hidden;
}
.singleDay > h2{
    text-align: center;
}

.timeline{
    border:1px solid darkgray;
    text-align:center;
    width: 100%;
    height:25px;
}
.dayDisplay, .timeDisplay, .optionDisplay, .planTimeBtn{
    padding-right:1.3vw;
    padding-left:1.3vw;
    display: none;
}
.namesDiv, .treatmentDiv{
    min-width: 48%;
    display: inline-block;
    text-align:center;
    padding-top:1vw;
}
.optionDisplay{
    margin: 0 auto;
}
.timetable{
    display: inline-block;  
    margin:0;
    margin-top:3vw;
    padding:0;
    max-width:24.6%;
}
.timeDisplay{
    margin:auto;
}
